# build output
dist/

# generated types
.astro/

# wrangler local state
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Andruid's specific vscode workspace settings with color-coded title bar so she can tell all her silly MU* projects apart
settings.json